.square {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 10px;
}

.red {
  background-color: rgb(255, 55, 55);
}

.green {
  background-color: rgb(60, 232, 48);
}

.blue {
  background-color: rgb(0, 115, 255);
}

.pink {
  background-color: #ff4acc;
}

.black {
  background-color: #000;
}

.square.red {
  transform: rotate(45deg);
}

.square.green {
  transform: rotatey(80deg);
}

.square.blue {
  transform: skew(45deg) scale(1.5) translateX(50%) perspective(100px) translateZ(-25px);
}

.square.pink {
  transform: rotateX(30deg) skew(-45deg) scale(1.5) translate(30px, -50px) perspective(100px) translateZ(-50px);
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.circle.red {
  transform: translate(30px, 120px);
  opacity: 0.5;
  z-index: -1;
}

.circle.green {
  transform: translate(15px, 60px);
  opacity: 0.5;
}

.circle.blue {
  opacity: 0.5;
}

button {
  border: 1px solid black;
}

#car {
  display: inline-block;
  position: relative;
}

button {
  border: 1px solid black;
}

button.blue {
  margin-top: 5px;
  width: 100px;
  height: 40px;
  transition: background-color 1s ease-in-out 0.1s, transform 5s ease-in-out 0s, border 1s ease-in-out 0.1s;
}

#car:hover button.blue {
  background-color: lightblue;
  border: 3px dotted purple;
  transform: translateX(300px);
}

#wheels {
  width: 100px;
  display: flex;
  opacity: 0;
  justify-content: space-between;
  transition: transform 5s ease-in-out 0s, opacity 0.5s ease-in-out;
}

.wheel {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: translateY(-10px);
}

#car:hover #wheels {
  transform: translateX(300px);
  opacity: 1;
}
