.square {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 10px;
}

.red {
  background-color: rgb(255, 55, 55);
}

.green {
  background-color: rgb(60, 232, 48);
}

.blue {
  background-color: rgb(0, 115, 255);
}

.pink {
  background-color: #ff4acc;
}

.square.red {
  transform: rotate(45deg);
}

.square.green {
  transform: rotatey(80deg);
}

.square.blue {
  transform: skew(45deg) scale(1.5) translateX(50%) perspective(100px) translateZ(-25px);
}

.square.pink {
  transform: rotateX(30deg) skew(-45deg) scale(1.5) translate(30px, -50px) perspective(100px) translateZ(-50px);
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.circle.red {
  transform: translate(30px, 120px);
  opacity: 0.5;
  z-index: -1;
}

.circle.green {
  transform: translate(15px, 60px);
  opacity: 0.5;
}

.circle.blue {
  opacity: 0.5;
}

